.postItem{

    display: flex;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 2px 2px 10px lightgray;
    display: flex;
    flex-direction: row;
    margin: 12px;

}

.postTitle {
    text-align: left;
}

.postAuthor {
    color: blue;
    font-weight: bold;
}

.postInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    font-size: 1rem;
    color: lightgray;
    margin-top: 16px;
}

.subredditName{
    text-align: left;
    font-size: 1rem;
    color: darkgray;
}

.postLeft {
    display:flex;
    flex-direction: column;
    margin: 1rem;
    color: lightgray;
}

.postRight{
    width: 100%;
}

.postImage {
    border-radius: 12px;
    width: 600px;
    margin: auto;
}

.comment {
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 12px;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

button{
    width: 120px;
}

.subreddit {
    display:flex;
    flex-direction: row;
}


.subSideBar {
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 2px 2px 10px lightgray;
    margin: 12px;
    height: auto;
}

.subRedditItem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    
}