
.postItem{

    display: flex;
    border-radius: 12px;
    padding: 2rem;
    border: 1px solid lightgray;
    flex-direction: row;
    margin: 12px;

}

.postTitle {
    text-align: left;
}

.postAuthor {
    color: blue;
    font-weight: bold;
}

.postInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    font-size: 1rem;
    color: lightgray;
    margin-top: 16px;
}

.commentLink {
    display: flex;
    align-items: center;
}

.subredditName{
    text-align: left;
    font-size: 1rem;
    color: darkgray;
}

.postLeft {
    display:flex;
    flex-direction: column;
    margin: 1rem;
    color: lightgray;
}

.postRight{
    width: 100%;
}

.postText {
    text-align: left;
}

.postImage {
    border-radius: 12px;
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 600px;
}

.comment {
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 12px;

    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.commentBody{
    text-align: left;

    border-radius: 12px;

 
    display: flex;
    flex-direction: row;

}


button{
    width: 120px;
}

.subreddit {
    display:flex;
    width: 100%;
}

.postFeed{
    width: 100%;
}


.subSideBar {
    border-radius: 12px;
    padding: 2rem;
    border: 1px solid lightgray;
    margin: 12px;
    height: auto;
}


.subRedditItem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    
}



@media only screen and (max-width: 1040px){
    .subSideBar {
        display: none;
    }
}

@media only screen and (max-width: 750px){

    .postItem{
        min-height: auto;
       
    
    }

    .postFeed{
        flex-basis: 100%;
    }

    .postInfo {

        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .commentLink {

        justify-content: start;
    }
}